<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <form action="/Usuarios" method="get">
        <input type="text" name="username">
        <button type="submit">Pesquisar</button>
    </form>
    <br>
    <br>
    <form action="/" method="post">
        <label for="username">Nome:</label>
        <input type="text" name="username">
        <label for="email">E-mail</label>
        <input type="text" name="email">
        <button type="submit"><a href="/">Adicionar</a></button>
        <label for=""><%=mensagem%></label>
    </form>
</body>
</html>