<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div id="exibirContato" name="exibirContato">
            <h2>Você buscou por "<%=username%>"</h2>
            <%user.forEach(value =>{%>
                <h3>Nome: </h3>
                <label><%= value.username%></label>
                <h3>Email: </h3>
                <label><%= value.email%></label>
            <%})%>
        </div><br>
        <button><a href="/">Voltar</a></button>
</body>
</html>